{% extends "includes/base.html" %}
{% load static %}
{% block body %}

<a href="{% url 'tasks' %}" class="badge badge-light">Tasks</a>>
<a href="{% url 'infotaskactivities' taskid %}" class="badge badge-light">Activities</a>
<br>
<p class="font-weight-bold">{{ taskactivity.activity }}, {{ taskactivity.activity.description }} - Picking</p>

<table class="table table-hover" id="selection">
    <thead>
    <tr>
        <th colspan="6" style="text-align: center">Parts Required</th>
    </tr>
    <tr>
        <th>Image</th>
        <th>Part Number</th>
        <th>Description</th>
        <th>Location</th>
        <th>Extra Info</th>
        <th>Required</th>
        <th>Serial Number</th>
        <th>Complete</th>

    </tr>
    </thead>

    <tbody>

    {% for part in requiredparts %}

    <tr class="{% if part.quantityRequired == part.quantityCompleted %} table-success{% endif %}">
        <td><img src="{{ part.thumbnail.image.url }}" style="height: 100px;"/></td>
        <td>{{ part.part.partNumber }}</td>
        <td>{{ part.part.description }}</td>
        <td>{{ part.part.location }}</td>
        <td>{{ part.extra }}</td>
        <td>
            <form method="POST" action="{% url 'edittaskpart-required' part.pk %}">

                {% csrf_token %}
                <input type="number" value="{{ part.quantityRequired }}" name="quantityRequired"
                       id="id_quantityRequired" class="input-group col-md-5">
                <br/>

                <input type="submit" class="btn btn-warning" value="Amend">
            </form>
        </td>
        <td>
            <form method="POST" action="{% url 'edittaskpart-serial' part.pk %}">

                {% csrf_token %}
                <input type="text" value="{{ part.serial }}" name="serial"
                       id="id_serial" class="input-group col-md-5">
                <br/>

                <input type="submit" class="btn btn-warning" value="Update Serial Number">
            </form>
        </td>
        <td>
            <form method="POST" action="{% url 'edittaskpart-completed' part.pk %}">
                {% csrf_token %}
                <input type="number" value="{{ part.quantityCompleted }}" name="quantityCompleted"
                       id="id_quantityCompleted" class="input-group col-md-5">
                <br/>

                <input type="submit" class="btn btn-primary" value="Complete" onclick="
                                    $(this).prev().prev().val({{ part.quantityRequired }})">
            </form>
        </td>
        <form action="{% url 'deletetaskpart' part.pk %}" method="post"
              style="display: inline;">
            <td>
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete"
                       onclick="return confirm('Are you sure you want to delete {{ part.part.partNumber }} from {{ taskactivity.activity }}?');">
            </td>
        </form>
    </tr>

    {% endfor %}

    </tbody>
    <thead>

    <tr>
        <th colspan="6" style="text-align: center"> Parts Produced</th>
    </tr>
    <tr>
        <th>Image</th>
        <th>Part Number</th>
        <th>Description</th>
        <th>Required</th>
        <th>Complete</th>

    </tr>
    </thead>

    <tbody>

    {% for part in producedparts %}

    <tr class="{% if part.quantityRequired == part.quantityCompleted %} table-success{% endif %}">
        <td><img src="{{ part.thumbnail.image.url }}" style="height: 100px;"/></td>
        <td>{{ part.part.partNumber }}</td>
        <td>{{ part.part.description }}</td>

        <td>
            <form method="POST" action="{% url 'edittaskpart-required' part.pk %}">

                {% csrf_token %}
                <input type="number" value="{{ part.quantityRequired }}" name="quantityRequired"
                       id="id_quantityRequired" class="input-group col-md-3">
                <br/>

                <input type="submit" class="btn btn-warning" value="Amend">
            </form>
        </td>
        <td>
            <form method="POST" action="{% url 'edittaskpart-completed' part.pk %}">
                {% csrf_token %}
                <input type="number" value="{{ part.quantityCompleted }}" name="quantityCompleted"
                       id="id_quantityCompleted" class="input-group col-md-3">
                <br/>

                <input type="submit" class="btn btn-primary" value="Complete" onclick="
                                    $(this).prev().prev().val({{ part.quantityRequired }})">
            </form>
        </td>
        <form action="{% url 'deletetaskpart' part.pk %}" method="post"
              style="display: inline;">
            <td>
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete"
                       onclick="return confirm('Are you sure you want to delete {{ part.part.partNumber }} from {{ taskactivity.activity }}?');">
            </td>
        </form>
    </tr>

    {% endfor %}

    </tbody>

</table>
<div>
    <a href="{% url 'includerequiredpart' taskid taskactivity.id %}" class="btn btn-secondary btn-sm btn-pad"
       role="button">Include Part</a>
</div>
<br>


{% endblock %}
