{% extends "includes/base.html" %}
{% load static %}
{% block body %}

    <a href="{% url 'tasks' %}" class="badge badge-light">Tasks</a>>
    <br>
    <p class="font-weight-bold">{{ task.taskName }}</p>
    <p class="font-weight-bold">{{ task.fleetNumber }}</p>

    <table class="table table-hover" id="selection">
        <thead>
        <tr>
            <th>Activities</th>

        </tr>
        </thead>

        <tbody>

        {% for activity in taskactivities %}

            <tr class="{% if activity.complete == True %} table-success{% endif %}"
                data-href="{% url 'infotaskparts' taskid=task.id taskactivityid=activity.id %}">
                <td>{{ activity }}</td>
                <td>{{ activity.activity.description }}</td>
                <td>{{ activity.activity.workCenter.name }}</td>
                <form action="{% url 'deletetaskactivity' activity.pk %}" method="post"
                      style="display: inline;">
                    <td>
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete"
                               onclick="return confirm('Are you sure you want to delete {{ activity.activity.activityName }} from {{ activity.task.taskName }}?');">
                    </td>
                </form>
            </tr>

        {% endfor %}

        </tbody>

    </table>
    
    <a class="btn btn-secondary" href="{% url 'addtaskactivity' task.id %}">Add Activity</a>

{% endblock %}