{% extends "includes/base.html" %}
{% load static %}
{% block body %}

<a href="{% url 'tasks' %}" class="badge badge-light">Tasks</a>>
<a href="{% url 'infotaskactivities' taskid %}" class="badge badge-light">Activities</a>
<br>
<p class="font-weight-bold">{{ taskactivity.activity }}</p>

<form method="POST">

    <table class="table table-hover" id="selection">
        <thead>
        <tr>
            <th>Sheets Required</th>

        </tr>
        </thead>

        <tbody>

        {% for part in requiredparts %}

        <tr>
            <td><img src="{{ part.thumbnail.image.url }}" style="height: 100px;"/></td>
            <td>{{ part.part.partNumber }}</td>
            <td>{{ part.quantityRequired }}</td>
        </tr>

        {% endfor %}

        </tbody>
        <thead>
        <tr>
            <th>Parts Produced</th>

        </tr>
        </thead>

        <tbody>

        {% for part in producedparts %}

        <tr class="{% if part.quantityRequired == part.quantityCompleted %} table-success{% endif %}">
            <td><img src="{{ part.thumbnail.image.url }}" style="height: 100px;"/></td>
            <td>{{ part.part.partNumber }}</td>
            <td>{{ part.part.description }}</td>
            <td>{{ part.quantityRequired }}</td>
            <td>
                <input class='input-group col-md-2' type="number" value="{{ part.quantityCompleted }}" name="{{ part.pk }}">
            </td>
            <td><button type="button" data-partid="{{ part.pk }}" data-value="{{ part.quantityRequired }}" class="setbutton">complete</button></td>
        </tr>

        {% endfor %}

        </tbody>

    </table>
    <input type="submit">
    {% csrf_token %}
</form>
{% endblock %}
