{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body %}
<a href="{% url 'inventory' %}" class="badge badge-light">Inventory</a>
<a href="{% url 'printlabel' part_id %}" ><button>Print Label</button></a>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy partform %}
            </form>
            <br>
            <a href="{% url 'lowstockgroup' part_id %}" ><button class="btn btn-warning">Group Selection</button></a>
            <br>
            <table class="table table-hover">
                <tbody>
                {% for comment in partcomments %}
                <tr>
                    <td>{{ comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy commentForm %}
            </form>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item  {% if forloop.first %} {{ 'active' }} {% endif %}">
                    <img class="d-block w-100" src="{{ image.image.url }}"  width="700px" height="500px" style="object-fit: contain;"/>
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            <div>
                <br>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ imageform.as_p }}
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>

        <div class="col">
            <div class='overflow-auto' style="height: 200px; overflow-y : scroll">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Supplier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for supplier in partsuppliers %}
                    <tr>
                        <td data-href="{% url 'info_supplier' supplier.supplier.id %}">{{ supplier }}</td>
                        <td>
                            <form method="POST" action="{% url 'editsupplierpartnumber' supplier.pk %}">

                                {% csrf_token %}
                                <input type="text" value="{{ supplier.supplierPartNumber }}" name="supplierPartNumber"
                                       id="id_supplierPartNumber" class="input-group col-md-5">
                                <input type="submit" class="btn btn-sm btn-warning" value="Update">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="btn btn-secondary btn-sm btn-pad" href="{% url 'addpartsupplier' part_id=part_id %}"
               role="button">Add Supplier</a>

            <div class='overflow-auto' style="height: 300px; overflow-y : scroll">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Movements</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movement in movements %}
                    <tr {% if movement.change < 0 %} class="table-danger" {% endif %}
                    {% if movement.change > 0 %} class="table-success" {% endif %}>
                    <td>{{ movement.history_date }}</td>
                    <td>{{ movement.history_user }}</td>
                    <td>{{ movement.change }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class='overflow-auto' style="height: 300px; overflow-y : scroll">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Used in</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                    <tr {% if activity.increment == False %} class="table-danger" {% endif %}
                    {% if activity.increment == True %} class="table-success" {% endif %}
                    data-href="{% url 'activityinformation' activity.activity.id %}">
                        <td>{{ activity.activity.activityName }}</td>
                        <td>{{ activity.activity.description }}</td>
                        <td>{{ activity.quantity }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}