{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body%}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy supplierform %}
            </form>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <button class="low-stock-button btn btn-secondary btn-sm btn-pad" role="button">Low Stock</button>
    </div>
    <form method="POST">
        <div class="row">
            <div class="col-sm tableFixHead" style="height:400px; overflow: scroll;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Parts Supplied</th>
                        <th>Description</th>
                        <th>Stock on Hand</th>
                        <th>Minimum Stock</th>
                        <th>Reorder Quantities</th>
                        <th>Ordering</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for supplierpart in supplierparts %}
                    <tr {% if supplierpart.part.obsolete %} class="table-dark" {% endif %}
                        {% if supplierpart.low %} class="table-danger" {% endif %}>
                        <td>{{ supplierpart.part.partNumber }}</td>
                        <td data-href="{% url 'info_part' supplierpart.part.id %}">{{ supplierpart.part.description }}</td>
                        <td>{{ supplierpart.part.location }}</td>
                        <td>{{ supplierpart.part.stockOnHand }}</td>
                        <td>{{ supplierpart.part.minimumStock }}</td>
                        <td>{{ supplierpart.part.reorderQtys }}</td>
                        <td>
                            <input type="number" value="{{ supplierpart.ordered }}" name="{{ supplierpart.part.pk }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            {% csrf_token %}
            {% crispy taskform %}
        </div>
    </form>
</div>

{% endblock %}