{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body%}

<br>

<div class="row">
    <div class="col-sm">
        <p class="font-weight-bold">Add Activity to Group</p>
        <br>
        <form class="form-inline">
            <input class="form-control" type="text" id="searchBar" onkeyup="search()" placeholder="Search" aria-label="Search">
        </form>
        <br>
        <table class="table table-hover" id="selection">
            <thead>
            <tr>
                <th>Activity Name</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in allactivities %}
            <tr data-aid="{{ activity.id }}">
                <td>{{ activity.activityName }}</td>
                <td>{{ activity.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% crispy requiredactivityform %}
            </form>
        </div>
        <table class="table table-hover">
            <tbody>
            {% for activity in grouprequiredactivity %}
            <tr data-href="{% url 'activityinformation' activity.activity.id %}">
                <td>{{ activity.activity.activityName }}</td>
                <td>{{ activity.activity.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</div>


{% endblock %}



