{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body%}

<br>

<div class="row justify-content-between">
    <div class="row">
        <div class="col-sm">
            <br>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="searchBar" onkeyup="Search()" placeholder="Search" aria-label="Search">
            </form>
            <br>
            <table class="table table-hover" id="selection">
                <thead>
                <tr>
                    <th>Activity Name</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in allactivities %}
                <tr data-aid="{{ activity.id }}">
                    <td>{{ activity.activityName }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
        <table class="table table-hover">
            <tbody>
            {% for part in activityrequiredparts %}
            <tr data-href="{% url 'detail' activity.id %}">
                <td>{{ part.activityid }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% crispy requiredactivityform %}
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}



