{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy activityform %}
            </form>
        </div>
        <div class="col-sm">
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Parts Required</th>
                </tr>
                </thead>
                <tbody>
                {% for required in activitypartsrequired %}
                <tr data-href="{% url 'info_part' required.part.id %}">
                    <td>{{ required.part.partNumber }}</td>
                    <td>{{ required.part.description }}</td>
                    <td>{{ required.quantity }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'addrequired' id=id %}" class="btn btn-secondary btn-sm btn-pad" role="button">Add Required Part</a>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Parts Produced</th>
                </tr>
                </thead>
                <tbody>
                {% for produced in activitypartsproduced %}
                <tr data-href="{% url 'info_part' produced.part.id %}">
                    <td>{{ produced.part.partNumber }}</td>
                    <td>{{ produced.part.description }}</td>
                    <td>{{ produced.quantity }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'addproduced' id=id %}" class="btn btn-secondary btn-sm btn-pad" role="button">Add Produced Part</a>
        </div>
    </div>
</div>

{% endblock %}