*[data-href] {
  cursor: pointer;
}
td a {
  display:inline-block;
  width:100%;
  padding: 10px; /* add your padding here */
}
.my-custom-scrollbar
{
position: absolute;
overflow-y: scroll;
width: 95%;
}
.table-wrapper-scroll-y {
display: block;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}