{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy partform %}
            </form>
            <br>
            {% for image in images %}
                <img src="{{ image.image.url }}" class="img-responsive"
                     style="width: 100%; float: middle; margin-right: 10px;"/>
            {% endfor %}
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ imageform.as_p }}
                <button type="submit">Upload</button>
            </form>
            <br>
            <table class="table table-hover">
                <tbody>
                {% for comment in partcomments %}
                <tr>
                    <td>{{ comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy commentForm %}
            </form>
        </div>
        <div class="col-sm">
            <table class="h-25 table table-hover">
                <thead>
                <tr>
                    <th>Supplier</th>
                </tr>
                </thead>
                <tbody>
                {% for supplier in partsuppliers %}
                <tr data-href="{% url 'info_supplier' supplier.supplier.id %}">
                    <td>{{ supplier }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'addpartsupplier' part_id=part_id %}" class="btn btn-secondary btn-sm btn-pad"
               role="button">Add
                Supplier</a>
            <table class="h-25 table table-hover table-wrapper-scroll-y my-custom-scrollbar">
                <thead>
                <tr>
                    <th>Movements</th>
                </tr>
                </thead>
                <tbody>
                {% for movement in movements %}
                <tr>
                    <td>{{ movement.history_date }}</td>
                    <td>{{ movement.history_user }}</td>
                    <td>{{ movement.change }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="h-25 table table-hover table-wrapper-scroll-y my-custom-scrollbar">
                <thead>
                <tr>
                    <th>Used in</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                <tr>
                    <td>{{ activity.group.groupName }}</td>
                    <td>{{ activity.activity.activityName }}</td>
                    <td>{{ activity.qty.quantity }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<div class="row justify-content-between">

</div>
{% endblock %}