{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid">
    <div class="row">

        <div class="col">
            <div>
                {% for image in images %}
                <img class="img-responsive" src="{{ image.image.url }}"
                     style="height: 25%; float: middle; margin-right: 10px;"/>
                {% endfor %}
                <br>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ imageform.as_p }}
                    <button type="submit">Upload</button>
                </form>
            </div>
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy partform %}
            </form>
            <br>
            <table class="table table-hover">
                <tbody>
                {% for comment in partcomments %}
                <tr>
                    <td>{{ comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy commentForm %}
            </form>
        </div>
        <div class="col">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Supplier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for supplier in partsuppliers %}
                    <tr data-href="{% url 'info_supplier' supplier.supplier.id %}">
                        <td>{{ supplier }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-secondary btn-sm btn-pad" href="{% url 'addpartsupplier' part_id=part_id %}"
               role="button">Add
                Supplier</a>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Movements</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement.history_date }}</td>
                        <td>{{ movement.history_user }}</td>
                        <td>{{ movement.change }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Used in</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.group.groupName }}</td>
                        <td>{{ activity.activity.activityName }}</td>
                        <td>{{ activity.qty.quantity__sum }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}