{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body%}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy supplierForm %}
            </form>
        </div>
        <div class="col-sm" style="height:800px; overflow: scroll;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Parts Supplied</th>
                </tr>
                </thead>
                <tbody>
                {% for supplierpart in supplierparts %}
                <tr data-href="{% url 'info_part' supplierpart.part.id %}"
                    {% if supplierpart.part.obsolete %} class="table-dark" {% endif %}
                    {% if supplierpart.low %} class="table-danger" {% endif %}>
                    <td>{{ supplierpart.part.partNumber }}</td>
                    <td>{{ supplierpart.part.stockOnHand }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}