{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy partform %}
            </form>
            <br>
            <table class="table table-hover">
                <tbody>
                {% for comment in partcomments %}
                <tr>
                    <td>{{ comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="POST">
                <br>
                {% csrf_token %}
                {% crispy commentForm %}
            </form>
        </div>
        <div class="col-sm">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Supplier</th>
                </tr>
                </thead>
                <tbody>
                {% for supplier in partsuppliers %}
                <tr data-href="{% url 'info_supplier' supplier.supplier.id %}">
                    <td>{{ supplier }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'addpartsupplier' part_id=part_id %}" class="btn btn-secondary btn-sm btn-pad" role="button">Add
                Supplier</a>
             <table class="table table-hover">
                <thead>
                <tr>
                    <th>Movements</th>
                </tr>
                </thead>
                <tbody>
                {% for movement in movements %}
                <tr>
                    <td>{{ movement.history_date }}</td>
                    <td>{{ movement.history_user }}</td>
                    <td>{{ movement.change }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<div class="row justify-content-between">

</div>
{% endblock %}