{% extends "includes/base.html" %}
{% load static %}
{% block body %}

    <style>
        #qr-canvas {
            margin: auto;
            width: calc(100% - 20px);
            max-width: 800px;
        }
    </style>

    <br>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" id="searchBar" onkeyup="search()" placeholder="Search" aria-label="Search">
    </form>
    <button id="btn-scan-qr">QR</button>

    <p id="test"></p>

    <div>
        <canvas hidden="" id="qr-canvas"></canvas>
    </div>


    <br>

    <div class="container-fluid">
        <a href="{% url 'addpart' %}" class="btn btn-secondary btn-sm btn-pad" role="button">New Item</a>
    </div>

    <br>

    <table class="table table-hover" id="selection">
        <thead>
        <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Location</th>
            <th>Supplier</th>
            <th>S.O.H</th>
        </tr>
        </thead>

        <tbody>

        {% for part in parts %}

            <tr data-href="{% url 'info_part' part.id %}">
                <td>{{ part.partNumber }}</td>
                <td>{{ part.description }}</td>
                <td>{{ part.location }}</td>
                <td>{{ part.supplier }}</td>
                <td>{{ part.stockOnHand }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>


    <script src="{% static '/js/qr_packed.js' %}"></script>
    <script src="{% static '/js/qrCodeReaderMy.js' %}"></script>

{% endblock %}