{% extends "includes/base.html" %}
{% load static %}
{% block body %}

    <br>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" id="searchBar" onkeyup="search()" placeholder="Search" aria-label="Search">
    </form>

    <br>

    <div class="container-fluid">
        <a href="{% url 'addpart' %}" class="btn btn-secondary btn-sm btn-pad" role="button">New Item</a>
    </div>

    <br>

    <table class="table table-hover" id="selection">
        <thead>
        <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Location</th>
            <th>Supplier</th>
            <th>S.O.H</th>
        </tr>
        </thead>

        <tbody>

        {% for part in parts %}

            <tr data-href="{% url 'info_part' part.id %}">
                <td>{{ part.partNumber }}</td>
                <td>{{ part.description }}</td>
                <td>{{ part.location }}</td>
                <td>{{ part.supplier }}</td>
                <td>{{ part.stockOnHand }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}