<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <!--<meta http-equiv="content-type" content="text/html; charset=UTF-8">-->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; text/html; charset=UTF-8" />
    <title>SolidWorks Composer</title>
    <!----------->
    <!--  CSS  -->
    <!----------->

    <link href="resources\css\template\init.css" rel="stylesheet" type="text/css" />
    <!--<link href="resources\css\skin\darkgrey\skin.css" rel="stylesheet" type="text/css" /> -->
    <link href="resources\css\skin\windowshadow\skin.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="resources/css/template/jquery-ui.css" rel="Stylesheet" />
</head>
<script type="text/javascript" src="resources/settings/settings.js"></script>
<script type="text/javascript">
function addSelectionEvent()
{
    addEvent(myObject, 'ChangeSelection', function (strSelection)
    {
        Trigger_OnchangeSelection(strSelection);
    });
}
function addGetHighlight()
{
    addEvent(myObject, 'GetHighlight', function (strValue)
    {
        Trigger_OnchangeHighlightOn(strValue);
    });
}
function addLooseHighlight()
{
    addEvent(myObject, 'LooseHighlight', function (strValue)
    {
        Trigger_OnchangeHighlightOff(strValue);
    });
}
function addEndLoadModel()
{
    addEvent(myObject, 'EndLoadModel', function ()
    {
        setTimeout(""
            + "init_template("
                            + "false,false,true,"
                            + "false,false,false,false,false,false);"
            + "Trigger_OnEndLoadModel();", 1000);
        //topbar,bottombar,topmagnetbar
        //bomtable,viewtable,pmilist,detail_view,web_tree,meta
    });
}
function registerEvents()
{
    myObject = getObject();
    addGetHighlight();
    addLooseHighlight();
    addSelectionEvent();
    addEndLoadModel();
}
function ComposerWebPlayerLoaded()
{
    registerEvents();
    myObject.FileName = "280.T1.PA01.00_files\\280.T1.PA01.00.smgXml";
}
</script>
<body onresize="Javascript:Is_Resized()" onload="registerEvents()">

    <div class="global">
        <div id="table_3D">
            <!----------->
            <!--       -->
            <!-- magnet-->
            <!--       -->
            <!----------->
            <div class="top_cell_close" id="magnet_bar"></div>
            <!----------->
            <!--       -->
            <!--  top  -->
            <!--       -->
            <!----------->
            <div class="top_cell_close" id="top_bar"></div>
            <!---------->
            <!--      -->
            <!--  3D  -->
            <!--      -->
            <!---------->
            <div id="top_table" class="top_tableNormal">
                <div class="content">
                    <div id="leftbloc" style="display: none;">
                        <div id="Logo_area">
                            <span class="logo"></span>
                            <img src="resources/img/solidworks_logo.png" title="SolidWorks Logo" height="29" width="101">
                        </div>

                            <div id="Tree_area">
                                <div style="width: 100%; height: 100%; vertical-align: middle; text-align: center;">
                                    <div>
                                        <img src="resources/img/loading.gif" title="loading" height="16" width="16">
                                    </div>
                                </div>

                            <!-- tree  -->
                        </div>
                    </div>
                    <div id="3D_object" class="normal_3D_object">
                        <div id="dialog_detail_view" style="display: none;"></div>
                        <!-- details view  -->
                        <div id="3D" onmouseout="Javascript:get_select_mode()" onmouseover="Javascript:set_select_mode()">
                            <!--[if IE]>
                            <object id="_ComposerPlayerActiveX" height="100%" width="100%" classid="CLSID:410B702D-FCFC-46B7-A954-E876C84AE4C0" codebase="ComposerPlayerActiveX.cab#version=7,7,3,129">
                            <param name="FileName" value="280.T1.PA01.00_files\\280.T1.PA01.00.smgXml"/>
							<!--<![endif]-->

                            <![if !IE]>
                            <object id="_ComposerPlayerPlugin" type="application/x-composerplayerwebplugin" width="100%" height="100%">
                                <param name="onload" value="ComposerWebPlayerLoaded" />
                                <![endif]>

                                <param name="_Version" value="262163" />
                                <param name="RenderGroundShadow" value="0" />
                                <param name="RenderMode" value="0" />
                                <param name="CameraPlayMode" value="1" />
                                <param name="AntiAliasingOnIdle" value="1" />
                                <param name="GroundGrid" value="1" />
                                <param name="AutoPlay" value="0" />
                                <param name="ShowViewBar" value="0" />
                                <param name="ShowDiapoBar" value="0" />
                                <param name="ShowMarkerBar" value="0" />
                                <param name="ShowStandardToolBar" value="0" />
                                <param name="ShowTimeLineBar" value="0" />
                                <param name="ShowMain3DToolBar" value="0" />
                                <param name="ShowCollabToolBar" value="0" />
                                <param name="ShowStatusBar" value="0" />
                                <param name="UseGUID" value="1" />
                            </object>
                        </div>
                    </div>
                </div>
                <div style="width: 1%; vertical-align: top; float: left; margin-left: 1%">
                    <ul id="rightbuttons">
                        <li><img src="resources/img/help.gif" title="Help" style="cursor: pointer;" onclick="Javascript:Show_Help()"></li>
                        <li><img src="resources/img/properties.png" title="Properties" style="cursor: pointer;" onclick="Javascript:Show_App_prop()"></li>
                        <li><img src="resources/img/show_standard_toolbar.gif" title="Standard Toolbar" style="cursor: pointer;" onclick="Javascript:ShowToolbar()"></li>
                        <li><img src="resources/img/open.png" title="Open SolidWorks Composer Document" style="cursor: pointer;" onclick="Javascript:File_3D_path()"></li>
                    </ul>
                </div>
            </div>
            <!-------------->
            <!--          -->
            <!--  bottom  -->
            <!--          -->
            <!-------------->
            <div class="bottom_cell_close" id="bottom_bar">
                <div style="width: 100%; height: 100%; vertical-align: middle; text-align: center;">
                    <img id="bottom_loading" style="display: none;" src="resources/img/loading.gif" title="loading" height="16" width="16">
                </div>
            </div>
        </div>
    </div>

    <div id="dialogs" style="display: none;"></div>

</body>

<!-------------->
<!--  scripts -->
<!-------------->

<script type="text/javascript" src="resources/lib/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="resources/lib/jquery-ui.js"></script>
<script type="text/javascript" src="resources/lib/jquery.mousewheel.js"></script>
<!--scroll --->
    <!--<link rel="stylesheet" type="text/css" media="all" href="resources/css/template/jquery.jscrollpane.css" />
    <script type="text/javascript" src="resources/lib/scroll/jquery.jscrollpane.js"></script>-->



<!-------------->

<script type="text/javascript" src="resources/js/init_template.js"></script>
<script type="text/javascript" src="resources/js/include.js"></script>

<script type="text/javascript" src="resources/lib/moo4q/mootools-1.2.4-base.js "></script>
<script type="text/javascript" src="resources/lib/moo4q/Class.Mutators.jQuery.js"></script>
<script type="text/javascript" src="resources/js/custom_classes.js"></script>
</html>
