/* CSS Document */



#View_Zone{
height:210px;
width:269px;
overflow:auto;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:10px 0px 0 8px; 
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:0;
padding:0 0 4px 0;
text-decoration:none;
}

#View_Zone a{
float:left;
}

#View_Zone h5{
margin:2px 0px 0px 0px;
height:30px;
}

.h5_title{
font-size:10px;
color:black;
text-align:center;
}

#View_Zone li{
float:left;
margin-bottom:4px;
padding:2px;
text-align:center;
width:99px;
height:85px;

}

#View_Zone img{
cursor:pointer;
}
